.VPHero .VPImage {
  max-width: 700px !important;
  max-height: 700px !important;
}

@media (max-width: 768px) {
  .VPHero .VPImage {
    max-width: 500px !important;
    max-height: 500px !important;
  }
}
